





<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">

        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 15px 15px 0 gray">

            <i class="bi-hdd-fill"></i>
            <h3> Back-end </h3>

            <p>
                Trabajo desde el desarrolo, pruebas automáticas y puesta en producción con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                .NET, JAVA y Javascript, NodeJS.
            </p>

            <p class="text-primary cabecera">
                Trabajos hechos por mí.
            </p>

            <ul>
                <li>ASP.NET core</li>
                <li>Maven</li>
                <li>Nodejs</li>
            </ul>

        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 15px 15px 0 gray">

            <i class="bi-code-slash"> </i>
            <h3> Front-end </h3>

            <p>
                Trabajo front-end.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                React, HTML, HTML5, CSS, CSS3
            </p>

            <p class="text-primary cabecera">
                Trabajos hechos por mí.
            </p>

            <ul>
                <li> React Hooks </li>
                <li> Angular </li>
                <li> HTML </li>
                <li> Boostrap </li>
            </ul>

        </div>

    </div>

</div>
