@*


<div class="text-center">

    <h1 class="display-4"> Soy @Model.Nombre (@Model.Edad)</h1>

    <h2>Desarrollador Fullstack, especializado en las tecnologías de: .NET, JAVA y Javascript, NodeJS y React. </h2>

    <img id="foto" src="~/imagenes/FotoCurriculum.png" alt="Foto Mohammed" />

</div>


<div class="text-center">
    <img id="dotnet-imagen" src="~/imagenes/dotnet-imagen-2.png" />
</div>

<div class="row justify-content-center text-center bg-info">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Te doy la bienvenida a mi portafolio
        </h1>

        <p>
            Soy Mohammed El Khamlichi Serghini, y Desarrollador fullstack, especializado en las tecnologías de: <br/>
            <snap class="seccion-tecnologias">.NET, JAVA y Javascript, NodeJS y React.</snap>

        </p>

    </div>

</div>*@