
@{
    ViewData["Title"] = "Gracias";
}


<div class="container">

    <h1>Gracias por ponerte en contacto con nosotros.</h1>
    <div>
        <a asp-action="Index" asp-controller="Home"> Volver al Home </a>
    </div>
</div>
